.about  {
    padding-left: 7em;
    padding-top: 6em;
    display: flex;
}
.about > h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 5em;
    line-height: 55px;
    /* color: var(--accent-color); */
}
.subSection{
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
}
.subSection h3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 2em;
line-height: 64px;
}

@media screen and (max-width: 480px) {
    body{
        overflow-x: hidden !important;
    }
}