.nav{
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 64.6875px 51.75px rgba(0, 0, 0, 0.07), 0px 27.0249px 21.6199px rgba(0, 0, 0, 0.0503198), 0px 14.4488px 11.559px rgba(0, 0, 0, 0.0417275), 0px 8.09988px 6.4799px rgba(0, 0, 0, 0.035), 0px 4.30178px 3.44143px rgba(0, 0, 0, 0.0282725), 0px 1.79007px 1.43206px rgba(0, 0, 0, 0.0196802);
}
.nav >ul{
    display: flex;
    list-style: none;
}
.nav li>a{
    padding: 0 .5em;
    color: var(--black);
    text-decoration: none;
}
.nav >a{
    padding: 0 .5em;
    font-weight: 600;
    color:var(--accent-color);
}
@media screen and (max-width:480px) {
    .nav >ul{
        display: hidden;
    }
}