.projectSet{
    font-family: 'Montserrat';
    display: flex;
    /* border-bottom: 4px solid var(--accent-color); */
    padding-bottom: 1em;
    margin-bottom: 2em;
}
.projectSet h4{
    width: 100%;
}
.projectSet *{
    margin: 2px 1em 2px 0px ;

}
.projectDetails >p{
    margin-bottom: 2em;
}
.projectDetails >a{
    color: var(--black);
}
.projectDetails >a:hover{
    color: var(--accent-color);
}
.projectCodeSection{
    margin-top: 2em;
}
.projectCode{
    border: 2px solid var(--black);
    padding: .5em 2em;
}
.projectCode:hover{
    background-color: var(--accent-color);
    color: var(--white);
}