:root {
    --accent-color: #1778f2;
    --white: #f7f7f7;
    --black :#070707;
}
body{
    font-family: 'Montserrat', Sans;
    margin: 0;
    padding:0;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
    overflow-x:hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 10px;
    
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 10px;
    /* border: 6px solid transparent; */
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
  }
